@media (prefers-color-scheme: dark) {
    body, .main {
        background-color: rgb(43, 43, 43);
    }
    footer,nav,.header{
        background-color: rgb(53, 44, 102);
      }
    html{
        color:rgb(255, 255, 255);
    }
}