@font-face {
  font-family: "ubuntu-regular";
  src: url("./assets/font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-italic";
  src: url("./assets/font/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("./assets/font/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "ubuntu-bolditalic";
  src: url("./assets/font/Ubuntu-BoldItalic.ttf");
}
html{
  font-family: ubuntu-regular, Arial;
}
body {
  background-color: white;
  margin:0;
}
h1,p{
  color:black;
}

.header{
  width: 100%;
  background-color: rgb(38, 0, 255);
}
.header h1{
  margin:0;
  padding:1%;
}
nav{
  width: 100%;
  background-color: rgb(27, 9, 127);
  padding:1% 1%;
}
nav a{
  text-decoration: none;
  color:rgb(255, 255, 255);
  border:1px white solid;
  margin:0 .1%;
  padding:2px;
  border-radius: 3px;
}

nav a:hover{
  color:aqua;
  border:1px aqua solid;
}
main{
  width: 100%;
}
.main{
  width: 95%;
  height: 800px;
  background-color: bisque;
  padding: 1%;
}
main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}