@font-face {
  font-family: "ubuntu-regular";
  src: url("./assets/font/Ubuntu-Regular.ttf");
}
@font-face {
  font-family: "ubuntu-italic";
  src: url("./assets/font/Ubuntu-Italic.ttf");
}
@font-face {
  font-family: "ubuntu-bold";
  src: url("./assets/font/Ubuntu-Bold.ttf");
}
@font-face {
  font-family: "ubuntu-bolditalic";
  src: url("./assets/font/Ubuntu-BoldItalic.ttf");
}
html{
  font-family: ubuntu-regular, Arial;
}
body {
  background-color: white;
  margin:0;
}
h1,p{
  color:black;
}

.header{
  width: 100%;
  background-color: rgb(38, 0, 255);
}